body {
  text-align: center;
  padding: 0;
  margin: 0;
}

#menu {
  a {
    margin: 0 8px;
  }
}

#hint_links {
  a {
    // border-botton: 2px dotted #000;
    margin: 0 15px;
  }
}

#preloader {
  margin-top: 15px 0;
}

#index_page {
  #images a {
    display: inline-block;
    margin: 10px;
  }
}

#carousel_page {
  #header {
    height: 30%;
  }

  #rest {
    height: 70%;

    #img_container {
      img {
        max-height: 400px;
      }
    }
  }
}
